<br/><br/>
<h1>Lista de Clientes</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Endereço</th>
      <th>Bairro</th>
      <th>Cidade</th>
      <th>Email</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= link_to customer.name, customer_path(customer) %></td>
        <td><%= customer.address %>, <%= customer.number %></td>
        <td><%= customer.district %></td>
        <td><%= customer.city.name %></td>
        <td><%= customer.email %></td>
        <td><%= link_to 'Editar', edit_customer_path(customer), :class => 'btn btn-mini' %></td>
        <td><%= link_to 'Excluir', customer_path(customer), :method => :delete, :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Confirma exclusão?')), :class => 'btn btn-mini btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Novo', new_customer_path, :class => 'btn btn-primary' %>
