<br/><br/>
<h1 align="center">Lista de Pedidos</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Cliente</th>
      <th>Data do Pedido</th>
      <th>Data Prevista</th>
      <th>Total</th>
      <th>O</th>
      <th>F</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= link_to order.customer.name, order_path(order) %></td>
        <td><%= order.date.strftime("%d/%m/%Y") %></td>
        <td><%= order.date_forecast.strftime("%d/%m/%Y") %></td>
        <td><%= Moeda(order.totaldiscount) %></td>
        <td><%= check_box_tag 'check_box', 'true', order.budget, :disabled => true %></td>
        <td><%= check_box_tag 'check_box', 'true', order.finished, :disabled => true %></td>
        <td><%= link_to 'Editar', edit_order_path(order), :class => 'btn btn-mini' %></td>
        <td><%= link_to 'Excluir', order_path(order), :method => :delete, :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Confirma exclusão?')), :class => 'btn btn-mini btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Novo', new_order_path, :class => 'btn btn-primary' %>
