<br/><br/>

<%= render :partial => @order %>

<table class="table table-striped">
  <thead>
		<caption>Itens</caption>
		<tr>
			<th>Produto</th><th>Quantidade</th><th>Preço</th><th>Total</th><th></th>
		</tr>
  </thead>
	<tbody id='item_listing'>
		<%= render :partial => 'item_list' %>
	</tbody>
	<tbody id='item_form'>
		<%= render :partial => 'item_form' %>
	</tbody>
</table>

<div class="form-actions">
  <%= link_to 'Voltar', orders_path, :class => 'btn'  %>
  <%= link_to 'Editar', edit_order_path(@order), :class => 'btn' %>
  <%= link_to 'Excluir', order_path(@order), :method => 'delete', :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Confirma exclusão?')), :class => 'btn btn-danger' %>
</div>